/*este es mi nombre:Walther, es broma mi nombre es Yerson*/
/*Estilos generales*/

	/* Eliminar estos estilos de ejemplo.*/	
	.ejemplo p {
	color: #444;
	line-height: 30px;
	background: #bed5e3;
	text-align: center;
	margin: 10px 0 0 0;
	}

/*CSS generales*/
p{margin-bottom:20px;}
h1, h2, h3, h4, h5, h6 {font-weight:bold; color: #222;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

/* Más pequeño que el estándar 960 (dispositivos y navegadores) */
@media only screen and (max-width: 959px) {

}

/* Para  la mayoria de las tablets */
@media only screen and (min-width: 751px) and (max-width: 959px) {

}

/* Todos los tamaños de los dispositivos móviles, tablet y navegador menor a 767px */
@media only screen and (max-width: 750px) {

}

/* Mobile de 480px a  767px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile menor a 479px*/
@media only screen and (max-width: 479px) {

}